@import './base.css';

#app {
  font-weight: normal;
}

main {
  height: 100vh;
  padding: 5em 2em 4em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 1em;
  width: fit-content;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s ease-out;
}

.v-enter-from,
.v-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

b {
  font-weight: bold !important;
}