@import './base.css';

#app {
  font-weight: normal;
}

body {
  height: 100vh;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2222ff;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8888ff;
  border-radius: 20px;
  border: 2px solid blue;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 1em;
  width: fit-content;
  height: fit-content;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s ease-out;
}

.v-enter-from,
.v-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

b {
  font-weight: bold !important;
}

.error {
  padding: 0 4px;
  color: white;
  background-color: red
}
